{% trans_default_domain "compte" %}
<div class="colonne-centre commandes">
	<h1>{{ "commandes"|trans }}</h1>
	<div class="scroll">
		<div class="scroll-content">
			{% for commande in this.commandes %}
				{{ component("CommandeItem", { commande }) }}
			{% endfor %}
		</div>
	</div>
</div>
