<div class="colonne-centre commandes">
	<div class="scroll">
		<div class="scroll-content">
			{% for commande in this.commandes %}
				{{ component("CommandeItem", { commande, dashboard: this.dashboard, statut: commande.status.value }) }}
			{% endfor %}
		</div>
	</div>
</div>
