.recherche-div {
    input {
        width: 40%;
        font-size: larger;
    }

    .bouton-vert {
        margin-bottom: 1rem;
    }

    .form {
        div:not([class]) {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 50rem;
            margin: 0.5rem;

            div:not(.clear-button):not(.item) {
                width: 90%;
            }
        }

        input,
        textarea {
            width: 50%;
            font-size: medium;
        }

        input[type="number"],
        input[type="checkbox"],
        input#vinyle_form_price {
            width: 10%;
        }
    }
}

.vinyles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 99vw;
}

.page-options {
    margin: 1rem;

    span {
        width: 12vw;
        justify-content: center;

        button,
        input {
            font-size: large;
            width: 3rem;
            height: 3rem;
            margin-right: 1rem;
            margin-left: 1rem;
        }
    }
}