.recherche-div {
    input {
        width: 40%;
        font-size: larger;
    }
}

.vinyles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100vw;
}

.page-options {
    margin: 1rem;

    span {
        width: 12vw;
        justify-content: center;

        button, input {
            font-size: large;
            width: 3rem;
            height: 3rem;
            margin-right: 1rem;
            margin-left: 1rem;
        }
    }
}