.recherche-div {
    input {
        width: 40%;
        font-size: larger;
    }
}

.vinyles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100vw;
}

.page-options {
    margin: 1rem;

    button, input {
        width: 3rem;
        height: 3rem;
        margin-right: 1rem;
        margin-left: 1rem;
    }
}