body {
    background-color: rgb(16, 35, 43);
    color: aliceblue;
    margin: 0px;
    margin-top: 5rem;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
}

a {
    text-decoration: none;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(9, 8, 29);
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    a {
        color: aliceblue;
        width: 25%;
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.5rem;
    }

    a:hover {
        background-color: rgb(3, 2, 26);
    }

    span {
        width: 10%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        img {
            width: 5rem;
        }

        select {
            width: 5rem;
            font-size: xx-large;
        }
    }
}

.conteneur {
    color: rgb(0, 0, 29);
    background-color: rgb(164, 185, 204);
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
}

.colonne-centre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.vinyles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.vinyle-layout {
    width: 12%;
    margin: 1%;
    padding: 1%;
    display: inline-block;

    div {
        margin: 0;
        width: 100%;
        text-align: center;
    }

    div:hover {
        background-color: rgb(136, 169, 199);
    }

    img {
        width: 100%;
        height: 100%;
    }

    h1 {
        height: 5rem;
        font-size: x-large;
    }
}

.vinyle-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.vinyle-article {
    width: 50%;

    img {
        width: 25%;
    }
}

.vinyle-panier {
    width: 25%;
}

.connexion-inscription {
    width: 40rem;
    font-size: 150%;

    div {
        width: 90%;
        margin: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    input,
    button {
        background-color: aliceblue;
        border: none;
        padding: 0.5rem;
        border-radius: 1rem;
        font-size: 65%;
    }

    input {
        width: 50%;
    }

    input[type=checkbox] {
        height: 1.5rem;
    }

    input[type=checkbox]:hover,
    button[type=submit]:hover {
        cursor: pointer;
        background-color: rgb(175, 186, 196);
    }
}