body {
    background-color: rgb(16, 35, 43);
    color: aliceblue;
    margin: 0px;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
}

a {
    text-decoration: none;
}

nav {
    position: static;
    top: 0;
    width: 100%;
    background-color: rgb(9, 8, 29);
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    a {
        color: aliceblue;
        width: 25%;
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.5rem;
    }

    a:hover {
        background-color: rgb(3, 2, 26);
    }
}

.vinyles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
}

.vinyle-layout {
    color: rgb(0, 0, 29);
    width: 15rem;
    margin: 1rem;

    div {
        padding: 1rem;
        width: 100%;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        background-color: rgb(164, 185, 204);
    }

    div:hover {
        background-color: rgb(136, 169, 199);
    }

    img {
        width: 100%;
    }

    h1 {
        height: 5rem;
    }
}

.vinyle-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.vinyle-article {
    color: rgb(0, 0, 29);
    background-color: rgb(164, 185, 204);
    width: 50%;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 25%;
    }
}

.vinyle-panier {
    color: rgb(0, 0, 29);
    background-color: rgb(164, 185, 204);
    width: 25%;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}