:root {
    --primaryBackgroundColor: rgb(16, 35, 43);
    --primaryButtonBackgroundColor: aliceblue;
    --secondaryBackgroundColor: rgb(164, 185, 204);
    --secondaryBackgroundColorHover: rgb(136, 169, 199);
    --secondaryButtonBackgroundColor: rgb(175, 186, 196);
    --primaryTextColor: aliceblue;
    --secondaryTextColor: rgb(0, 0, 29);
    --primaryNavigationBackgroundColor: rgb(9, 8, 29);
    --secondaryNavigationBackgroundColor: rgb(3, 2, 26);
}

body {
    background-color: var(--primaryBackgroundColor);
    color: var(--primaryTextColor);
    margin: 0px;
    margin-top: 5rem;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
}

a {
    text-decoration: none;
}

input,
button {
    background-color: var(--primaryButtonBackgroundColor);
    border: none;
    padding: 0.5rem;
    border-radius: 1rem;
    width: 15rem;
    height: 3rem;
}

input[type=checkbox] {
    height: 1.5rem;
    width: 1.5rem;
}

input[type=button]:hover,
input[type=checkbox]:hover,
button:hover {
    cursor: pointer;
    background-color: var(--secondaryButtonBackgroundColor);
    color: var(--secondaryButtonTextColor);
    border: solid var(--primaryButtonBackgroundColor) 3px;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--primaryNavigationBackgroundColor);
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    a {
        color: var(--primaryTextColor);
        width: 25%;
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.5rem;
    }

    a:hover {
        background-color: var(--secondaryNavigationBackgroundColor);
    }

    span {
        width: 10%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        img {
            width: 5rem;
        }

        select {
            width: 5rem;
            font-size: xx-large;
        }
    }
}

.conteneur {
    color: var(--secondaryTextColor);
    background-color: var(--secondaryBackgroundColor);
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
}

.colonne-centre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.vinyles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.vinyle-layout {
    width: 12%;
    margin: 1%;
    padding: 1%;
    display: inline-block;

    div {
        margin: 0;
        width: 100%;
        text-align: center;
    }

    div:hover {
        background-color: var(--secondaryBackgroundColorHover);
    }

    img {
        border-radius: 0.5rem;
        width: 100%;
        height: 100%;
    }

    h1 {
        height: 5rem;
        font-size: x-large;
    }
}

.vinyle-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.vinyle-article {
    width: 50%;

    img {
        width: 25%;
    }
}

.vinyle-panier {
    width: 25%;
}

.connexion-inscription {
    width: 40rem;
    font-size: 150%;

    div {
        width: 90%;
        margin: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    input {
        width: 50%;
        font-size: 65%;
    }
}

.compte {
    .modifier-compte {
        width: 30rem;

        div {
            width: 90%;
            margin: 0.5rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        input {
            padding: 0 0.5rem;
            width: 50%;
        }
    }

    a {
        color: white;
        background-color: red;
        padding: 1rem;
        border-radius: 1rem;
        height: 2rem;
        width: 12rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        font-size: larger;

        img {
            height: 100%;
            filter: brightness(0) invert(1);
        }
    }
}