:root {
    --primaryBackgroundColor: rgb(16, 35, 43);
    --primaryBackgroundColorFade: rgb(16, 35, 43, 0.25);
    --primaryButtonBackgroundColor: aliceblue;
    --secondaryBackgroundColor: rgb(164, 185, 204);
    --secondaryBackgroundColorHover: rgb(136, 169, 199);
    --secondaryButtonBackgroundColor: rgb(175, 186, 196);
    --primaryTextColor: aliceblue;
    --secondaryTextColor: rgb(0, 0, 29);
    --primaryNavigationBackgroundColor: rgb(9, 8, 29);
    --secondaryNavigationBackgroundColor: rgb(3, 2, 26);
}

body {
    background-image: url('../images/background.jpg');
    background-size: 100vw;
    color: var(--primaryTextColor);
    margin: 0px;
    margin-top: 6rem;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
}

.background-grad {
    background: linear-gradient(0deg,var(--primaryBackgroundColor), var(--primaryBackgroundColorFade) 100%);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    margin: 0;
    z-index: -1;
}

a {
    text-decoration: none;
}

input,
button {
    background-color: var(--primaryButtonBackgroundColor);
    border: none;
    padding: 0 0.5rem;
    border-radius: 1rem;
    width: 15rem;
    height: 3rem;
}

input[type=checkbox] {
    height: 1.5rem;
    width: 1.5rem;
}

input[type=button]:hover,
input[type=checkbox]:hover,
button:hover {
    cursor: pointer;
    background-color: var(--secondaryButtonBackgroundColor);
    color: var(--secondaryButtonTextColor);
    border: solid var(--primaryButtonBackgroundColor) 3px;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--primaryNavigationBackgroundColor);
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    a {
        color: var(--primaryTextColor);
        width: 25%;
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.5rem;
    }

    a:hover {
        background-color: var(--secondaryNavigationBackgroundColor);
    }

    span {
        width: 10%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        img {
            width: 5rem;
        }

        select {
            width: 5rem;
            font-size: xx-large;
            margin: 0;
        }
    }
}

.conteneur {
    color: var(--secondaryTextColor);
    background-color: var(--secondaryBackgroundColor);
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
}

.colonne-centre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.ligne-centre {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.vinyle-layout {
    width: 12.5vw;
    margin: 2vw;
    margin-top: 0;
    display: inline-block;

    div {
        margin: 0;
        width: 100%;
        text-align: center;
    }

    a {
        div:hover {
            background-color: var(--secondaryBackgroundColorHover);
        }
    }

    img {
        border-radius: 0.5rem;
        width: 100%;
        height: 100%;
    }

    h1 {
        height: 5rem;
        font-size: x-large;
    }
}

.bouton-rouge {
    color: white;
    background-color: red;

    img {
        height: 100%;
        filter: brightness(0) invert(1);
    }
}

.bouton-rouge:hover {
    background-color: rgb(182, 0, 0);
}

.bouton-vert {
    color: white;
    background-color: green;

    img {
        height: 100%;
        filter: brightness(0) invert(1);
    }
}

.bouton-vert:hover {
    background-color: rgb(0, 80, 0);
}

.adresses-scroll {
    position: relative;
    border: solid var(--primaryButtonBackgroundColor) 3px;
    border-radius: 1rem;
    background-color: var(--primaryBackgroundColor);
}

.adresses-layout {
    max-height: 100%;
    width: 100%;
    overflow: auto;
}

.adresse {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--secondaryBackgroundColor);

    .adresse-info {
        align-items: flex-start;
    }

    p {
        margin: 0;
    }

    button {
        width: 2rem;
        height: 2rem;
        padding: 0.5rem;
        margin: 0.25rem;
        border-radius: 0.5rem;
        border: none;

        img {
            height: 100%;
        }
    }
}

.invisible {
    opacity: 0;
    cursor: default;
}

.rouge {
    color: red;
}