.compte {
    .modifier-compte {
        width: 30rem;
        height: 25rem;

        div {
            width: 90%;
            margin: 0.5rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        input {
            width: 50%;
        }
    }

    a {
        margin: 1rem;
        padding: 1rem;
        border-radius: 1rem;
        height: 2rem;
        width: 12rem;
        font-size: larger;
    }

    a:hover {
        background-color: rgb(182, 0, 0);
    }

    .bouton-vert {
        border: none;
        padding: 0.5rem;
        justify-content: space-around;
        color: white;
    }

    .adresses {
        height: 25rem;
    }

    .adresses-scroll {
        width: 30rem;
        height: 13.5rem;
    }
}