.connexion-inscription {
    width: 40rem;
    font-size: 150%;

    div {
        width: 90%;
        margin: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    input {
        width: 50%;
        font-size: 65%;
    }
}