.dashboard {
    .commandes {
        .scroll {
            width: 50vw;
            height: 27rem;
        }
    }
}

.commande {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--secondaryBackgroundColor);
    height: 10rem;

    p {
        margin: 0.25rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .adresse-info {
        max-height: 100%;

        p {
            width: 15rem;
        }
    }

    .commande-info {
        max-height: 100%;
        align-items: flex-end;

        p {
            width: 15rem;
        }
    }
}

.dashboard-bloc {
    background-color: var(--secondaryBackgroundColor);
    padding: 1rem;
    border-radius: 0.5rem;

    h2 {
        margin-top: 0;
    }

    h3 {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 0.5rem;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        padding: 0.25rem 0;
    }
}
