.vinyle-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.vinyle-article {
    width: 50%;

    img {
        width: 25%;
    }

    textarea {
        width: 70%;
    }

    input[type=text] {
        width: 50%;
    }

    input[type=number] {
        width: 4rem;
    }

    input,
    button,
    textarea {
        margin: 0.5rem;
    }
}

.vinyle-panier {
    width: 25%;

    input {
        width: 25%;
        font-size: larger;
    }

    div {
        margin: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}