{% extends "base.html.twig" %}
{% block title %}
	{{ parent() }}
	| Accueil
{% endblock %}
{% block body %}
	<div class="vinyles">
		{% for vinyle in vinyles %}
			{% include "vinyleLayout.html.twig" with {"vinyle": vinyle} %}
		{% endfor %}
	</div>
{% endblock %}