{% extends "base.html.twig" %}
{% trans_default_domain 'accueil' %}
{% block title %}
	{{ parent() }}
	|
	{{ 'titre'|trans }}
{% endblock %}
{% block body %}
	<div class="colonne-centre recherche-div">
		{{ component("SearchVinyles") }}
	</div>
{% endblock %}
