{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | Liste Burger{% endblock %}
 
{% block content %}
        <h1 class="text-3xl font-bold underline m-0">
            Liste des burgers
        </h1>
        <ul>

        </ul>
{% endblock %}