{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | Bienvenue{% endblock %}
 
{% block content %}
        <h1 class="text-3xl font-bold underline m-0">
            Bienvenue sur CRUDcroustillant
        </h1>
        <img class="card-img-top" src={{ asset("images/jonkler.jpg") }} alt="Card image cap">
{% endblock %}